name: Deploy Frontend
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        working-directory: frontend
        run: |
          npm ci

      - name: Build
        working-directory: frontend
        run: |
          echo 'export default "https://backend-studmansys.onrender.com";' > src/serverOrigin.js
          echo 'export default "https://studmansys.web.app";'              > src/appOrigin.js
          echo Backend API at  "$(grep -Eo 'https://.*\.onrender\.com'       src/serverOrigin.js | head -1)"
          echo Webapp at       "$(grep -Eo 'https://.*\.web\.app'            src/appOrigin.js    | head -1)"
          npm run build

      - name: Deploy Frontend
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          channelId: live
          projectId: studmansys
          entryPoint: ./frontend
